@include component(stats) {
    @include part(container) {
        margin-top: 3em;
    }
    @include part(item) {
        background-color: #E76B6B;
        color: white;
        text-align: center;
        padding: 1em;
        border-radius: 5px;
        @include option(highlight) {
            background-color: #FF7416;
        }
    }
    @include part(count) {
        font-weight: bold;
        font-size: 3em;
        padding-top: 0.4em;
        padding-bottom: 0.3em;
    }
    @include part(timeframe) {
        font-size: 0.8em;
    }
}