{{admin.sidebar-component}}

<div id="content-wrapper">
  
  {{admin.header-component 
    title="Jobs" 
    description="Edit job"
    buttonLink="admin.jobs"
    buttonText="Back"}}

  {{admin.jobs.form-component post=model type="edit"}}
</div>