<div class="login">
  <div class="container">
    <div class="gr-5 gr-centered">
      <div class="login__main">
        <div class="login__content">
          <div class="login__logo">
            <img src="/assets/images/knight.png" />
          </div>
          <form {{action 'authenticate' on='submit'}}>

            <div class="login__input__container --radius-top --radius-bottom">
              {{input type="password" value=password placeholder="Enter Password" class="login__input__field" }}
              <i class="icon-password"></i>
            </div>

            <div class="+spacer"></div>

            <button type="submit" class="button --warning --large --expand {{if isButtonDisabled '--muted'}}" disabled={{isButtonDisabled}}>Sign In</button>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>
