<div class="header__container">
  <div class="container">
    <div class="header__title">Stats of elixir hunt</div>
  </div>
</div>

<div class="container">
  
  <div class="stats__container">
    <div class="gr-3">
      <div class="stats__item --highlight">
        <div class="stats__count">{{ model.apply_clicks_this_day.result }}</div>
        <div class="stats__description">Clicks on apply</div>
        <div class="stats__timeframe">Today</div>
      </div>
    </div>


    <div class="gr-3">
      <div class="stats__item">
        <div class="stats__count">{{ model.apply_clicks_this_week.result }}</div>
        <div class="stats__description">Clicks on apply</div>
        <div class="stats__timeframe">This week</div>
      </div>
    </div>

    <div class="gr-3">
      <div class="stats__item">
        <div class="stats__count">{{ model.apply_clicks_this_month.result }}</div>
        <div class="stats__description">Clicks on apply</div>
        <div class="stats__timeframe">This month</div>
      </div>
    </div>

    <div class="gr-3">
      <div class="stats__item">
        <div class="stats__count">{{ model.apply_clicks_this_year.result }}</div>
        <div class="stats__description">Clicks on apply</div>
        <div class="stats__timeframe">This year</div>
      </div>
    </div>
  </div>

</div>